@{
  Layout="_Layout";
}

<h1>Welcome to Pierre's Pastries</h1>

<a href="@Url.Action("Index", "Flavor")" class="btn btn-secondary">Pick a flavor</a>
<a href="@Url.Action("Index", "Treat")" class="btn btn-secondary">Pick a treat</a>

